<div class="connectionSpinnerPanel">
	<span class="spinner"></span>
	<span class="conn-feedback"></span>
	<span class="conn-error" style="display: none;"></span>
	<span class="conn-error-retry" style="display: none;"><a class="conn-retry" href="#"></a></span>
</div>
<form id="converse-login" method="post" style="display: none;">
    <label>{{label_username}}</label>
    <input type="email" name="jid" placeholder="user@server">
    <label>{{label_password}}</label>
    <input type="password" name="password" placeholder="password">
    <input class="submit" type="submit" value="{{label_login}}">
    <span class="conn-feedback"></span>
</form>
